body {
    margin:0;
    padding:0;
    background: #feada6;
    background-image:linear-gradient(to top, #feada6, #f5efef);
    max-height:100vh;
}
.tree{
    display:none;
    fill:#000000;
    stroke:#000000;
    stroke-width:0.2px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1
}